@model IEnumerable<Book.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Böcker</h1>

<p>
    <a asp-action="Create">Lägg till</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Läs mer</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
